@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#root {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.email {
    color: white;
}
.slider   {
    position: relative;
    height: calc(100vh - 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100vw;
    height: calc(100vh - 0px);
    border-radius: 10px;
    overflow: hidden;

}
.Right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.01);
}
/* galleri section*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 40px;
    justify-content: center;
    }
.project {
      background: grey;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      width: fit-content;
    }
    .project-image {
        width: 300px;
    }
h1 {
        margin-top: 70px;
    }
.center-text {
    text-align: center;
}